/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
body {

  background-image: url("quiz-bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
  text-align: center;
  color: transparent;

  font-size: 40px;
  
   -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: white;
   
}
.heading {
  margin: auto;
  padding: 10px;
  background-color: rgba(78, 78, 76, 0.829);
  width: 60%;
  text-align: center;
}
select option[data-default] {

  display: none;
}
select {

  padding: 10px 10px 10px 5px;
  width: 80%;
  margin: 10px 30px;
  border-radius: 10px;
  
}
.col-12 {

  text-align: center;
}
button {
  padding: 5px;
  font-size: 25px;
  margin: 15px;
  width: 20%;
  color: white;
  background-color: rgb(68, 63, 63);
}
